In [16]:
a = '₹1,54,990₹1,64,9906% off'

# Required value_1 : 154990
# Required value_2 : 1649906
# Required value_3 : 1549901649906

In [17]:
Required_value_1 = ''.join(a.split('₹')[1].split(','))
Required_value_1

'154990'

In [3]:
b=a.split('₹')
print(b)
c=b[1]
c

['', '1,54,990', '1,64,9906% off']

'1,54,990'

In [4]:
d=c.split(',')
d

['1', '54', '990']

In [5]:
e="".join(d)
e

'154990'

## List (Mutable)

* Denoted by [ ] and items are separated using a ,
* Concatenation
* Indexing,Slicing
* Methods
* a =[ ] -> Empty List

In [16]:
a = []
# Notice how the type is class list, as everything is an object in Python
print(a,type(a),len(a))

[21, 54] <class 'list'> 2

In [17]:
# Homogenous data -> Same type
a = [10,20,30,40]
print(a)
# Heterogenous Data -> Multiple types
b = [10,10.45,"HELLO",[1,2,3]]
print(b)

[10, 20, 30, 40]
[10, 10.45, 'HELLO', [1, 2, 3]]

In [18]:
# Concatenation
# It change sthe address(id) value as it reinitializes the varible
a = [1,2,3]
b = [4,5,6]
print(a,b,id(a))
c = a+b
print(c,id(c))
print(id(a) is id(b))

[1, 2, 3] [4, 5, 6] 2623873307456
[1, 2, 3, 4, 5, 6] 2623872950848
False

## Indexing and Slicing

* It works the same way it worked on strings

In [19]:
a = [10,20,30,40,50,60]

print(a[2])#30
print(a[-3])#40

print(a[2:5])#30,40
print(a[1:5:2])#20,40,60
print()
print(a[::-1])#60,50,40,30,20,10

30
40
[30, 40, 50]
[20, 40]

[60, 50, 40, 30, 20, 10]

In [20]:
a = [[10,20],["HELLO","PYTHON"]]
print(a,len(a))
print(a[0])#[10,20]
#b = a[0]
#print(b[0])
# Handling indexing in a matrix form
print(a[0][0])#10

print(a[1][0][0])#H
print(a[1][1][-6])#p
print(a[1][1][0])#p

[[10, 20], ['HELLO', 'PYTHON']] 2
[10, 20]
10
H
P
P

In [21]:
a = [10,20,30,40,50,60]
print(a)
a[1] =70
a

[10, 20, 30, 40, 50, 60]

[10, 70, 30, 40, 50, 60]

## List Methods

In [ ]:
help(list)

In [ ]:
help(list.append)

In [22]:
a = [10,20,30]
print(a,id(a))#what is ID
# Append method adds items to end of the list
b = a.append(40)
print(a,b)
a.append([1,2,3])
print(a)
a.append('HELLO')
print(a)

[10, 20, 30] 2623873301568
[10, 20, 30, 40] None
[10, 20, 30, 40, [1, 2, 3]]
[10, 20, 30, 40, [1, 2, 3], 'HELLO']

In [23]:
a = [10,40,50,40]
b = a.count(40)
print(b)
b = a.index(40)
print(b)

2
1

In [47]:
a = [10,40,50,40]
print(a.pop())#40
print(a.pop())#50
print(a.pop())#40
print(a.pop())#10
print(a)

40
50
40
10
[]

In [48]:
a = [10,40,50,40]
del a[2]

a

[10, 40, 40]

In [26]:
a = [10,40,50,40]
del a[1:3]

a

[10, 40]

In [6]:
a = [10,40,50,40]
print(a.pop(2))
a

50

[10, 40, 40]

In [7]:
# imp
a = [10,40,50,40]
del a[0:3]
print(a)

[40]

In [27]:
a = [10,40,50,40]
a.remove(40)
print(a)

[10, 50, 40]

In [31]:
a = [10,40,50,40]
a.clear()
print(a)

[]

In [10]:
a = [10,40,50,40]
# Remove method deltes the values passed as an argument
# It value does not exist an error is displayed
a.remove(40)
print(a)
# Pop method removes the item at particular index; by default last
b = a.pop()
print(a,b)
b = a.pop(1)
print(a,b)
#  Clear deletes the entire list and gives us an empty list
a.clear()
print(a,id(a))

[10, 50, 40]
[10, 50] 40
[10] 50
[] 2623872960000

In [11]:
a = [10,20,30]
# Insert method ads item to the index position mentioned.
# index(index,value)
a.insert(1,40)
print(a)

[10, 40, 20, 30]

In [12]:
a = [1,2,3]
b = [4,5,6]
print(a,b,id(a))
c = a+b
print(c,id(c))

[1, 2, 3] [4, 5, 6] 2623872873920
[1, 2, 3, 4, 5, 6] 2623872693184

In [13]:
# Extend method concatenates without changing the orginal address
a = [1,2,3]
b = [4,5,6]
#print(a,b,id(a))
a.extend(b)

print(a,id(a))
b.extend(a)
print(b)

[1, 2, 3, 4, 5, 6] 2623872889984
[4, 5, 6, 1, 2, 3, 4, 5, 6]

In [ ]:
a = [25, 28, 15, 13, 21, 6]
print(a,id(a))
b = a[::-1]
print(b,id(a))

In [ ]:
help(list.reverse)

In [33]:
a = [25, 28, 15, 13, 21, 6]
#print(a,id(a))
a.reverse()
print(a)

[25, 28, 15, 13, 21, 6] 2623872788032
[6, 21, 13, 15, 28, 25]

In [ ]:
help(list.sort)

In [ ]:
a = [25, 28, 15, 13, 21, 6]
print(a)
a.sort()
print(a)
# #ass = a.sort()
# #print(ass)
# print(a,id(ass))
# # To get sorting order in descending order
a.sort(reverse=True)
# print(a,id(desc))
print(a)

In [49]:
a = [25, 28, 15, 13, 21, 6]
print(sorted(a))
a

[6, 13, 15, 21, 25, 28]

[25, 28, 15, 13, 21, 6]

In [34]:
a = ['ze','bcdefg','axe','defg']
print(a)
# Sorting alphabetically
a.sort()
print(a)
# Key argument is used to customize the sort order
# We are now sorting using length of the items
a.sort(key=len)
print(a)

['ze', 'bcdefg', 'axe', 'defg']
['axe', 'bcdefg', 'defg', 'ze']
['ze', 'axe', 'defg', 'bcdefg']

In [35]:
a = [10,40,50,40]
print(a,id(a))
b=a[:]
print(b,id(b))

[10, 40, 50, 40] 2623873559296
[10, 40, 50, 40] 2623872693888

In [36]:
#imp
a = [10,40,50,40]
b=a
b.append(40)
print(b)
print(a)

[10, 40, 50, 40, 40]
[10, 40, 50, 40, 40]

## Shallow Copy

This is required so that we can create a copy of the original list and do not modify it using another variable.

Example :

In [38]:
a = [10,20,30]
b = a # b is a reference to a
print(a,b)
# print(id(a),id(b))
print(a == b)
print(a is b)
b[0] = 55
# You can see that both list a and b gets modified
print(a,b)

[10, 20, 30] [10, 20, 30]
True
True
[55, 20, 30] [55, 20, 30]

In [41]:
a = [10,20,30]
b = a.copy() # b is a shallow copy of a
print(a,b)
# print(id(a),id(b))
print(a == b)
print(a is b)
b[0] = 50
# Only list b gets modified
print(a,b)

[10, 20, 30] [10, 20, 30]
2623873979200 2623873979392
True
False
[10, 20, 30] [50, 20, 30]

### Tuples (Immutable Lists)

* Denoted by ( ) and items are separated using a ,
* Concatenation
* Indexing, SLicing
* Methods -> Count, Index
* Genrally faster than lists

In [ ]:
a = (10,20,30)
print(a,type(a))
# Below statement will give an error as tuples are immutable
a[0] = 40

In [ ]:
dir(tuple)

In [ ]:
a = [10,20,30,40,50,60]
print(a,type(a))
a = tuple(a)
print(a,type(a))

In [1]:
a = (10, 20, 30, 40, 50, 60)
print(a[0])
print(a[2:5+1])

10
(30, 40, 50, 60)

In [2]:
a = (1,2,3)
b = (4,5,6)
print(a,b,id(a))
a = a+b
print(a,id(a))

(1, 2, 3) (4, 5, 6) 80909632
(1, 2, 3, 4, 5, 6) 80447040

# Typecasting

Changing from one type to another

In [3]:
a = 123
print(a,type(a))
a = float(a)
print(a,type(a))

123 <class 'int'>
123.0 <class 'float'>

In [5]:
a = 123.45
print(a,type(a))
a = int(a)
print(a,type(a))

123.45 <class 'float'>
123 <class 'int'>

In [6]:
a = '123'
print(a,type(a))
a = int(a)
print(a,type(a))

123 <class 'str'>
123 <class 'int'>

In [7]:
a = '123.45'
print(a,type(a))
a = float(a)
print(a,type(a))
a = int(a)
print(a,type(a))

123.45 <class 'str'>
123.45 <class 'float'>
123 <class 'int'>

In [12]:
a = 'PYTHON'
print(a,type(a))
a = list(a)#
print(a,type(a))
a = ''.join(a)
print(a,type(a))

PYTHON <class 'str'>
['P', 'Y', 'T', 'H', 'O', 'N'] <class 'list'>
PYTHON <class 'str'>

In [10]:
a = 'PYTHON'
print(a.split())

['PYTHON']

In [42]:
a=5678
#8765
a=str(a)
a
b=a[::-1]
b
c=int(b)
c

8765

In [45]:
a = 12345
b=str(a)
b[::-1]
print(b,type(b))
c=int(b)
c
d=int(str(a)[::-1])
print(d)

12345 <class 'str'>
54321

In [46]:
# Reversing an integer using Typecasting
a = 12345
print(a,type(a))
a = str(a)
print(a,type(a))
a = a[::-1]
print(a,type(a))
a = int(a)
print(a,type(a))
c=int(str(a)[::-1])
print(c)
b = 12345
b = int(str(b)[::-1])
print(b,type(b))

12345 <class 'int'>
12345 <class 'str'>
54321 <class 'str'>
54321 <class 'int'>
12345
54321 <class 'int'>

In [ ]:
a=12345
a = str(12345)
b=list(a)
b

# Taking an User input
Syntax
input("Optional Statement")

BY defualt it returns a string object

In [18]:
a = input("Enter something : ")
print(a,type(a))

Enter something : sdffgsdg32453258
sdffgsdg32453258 <class 'str'>

In [20]:
a = int(input("Enter a number :: "))
print(a,type(a))

Enter a number :: 345
345 <class 'int'>