In [1]:
#Method #3: Using Dataframe.assign() method

In [ ]:
pip install pandas

In [2]:
# df.head()
# df.tail()
# df.sample(3)
# df.shape
# df[2:5]
# df.columns

In [1]:
import pandas as pd
df=pd.DataFrame({
    'Day':['1/1/2021','2/1/2021','3/1/2021','4/1/2021','5/1/2021'],
    'Whether':['Rainy','Sunny','Snow','Rainy','Sunny'],
    'Temp':[33,34,43,32,23],
    'Wind':[3,5,7,1,2]
})
df

        Day Whether  Temp  Wind
0  1/1/2021   Rainy    33     3
1  2/1/2021   Sunny    34     5
2  3/1/2021    Snow    43     7
3  4/1/2021   Rainy    32     1
4  5/1/2021   Sunny    23     2

In [4]:
df['Day'].dtypes

dtype('O')

In [5]:
df['Whether'].dtypes

dtype('O')

In [6]:
df['Temp'].dtypes

dtype('int64')

In [7]:
df

        Day Whether  Temp  Wind
0  1/1/2021   Rainy    33     3
1  2/1/2021   Sunny    34     5
2  3/1/2021    Snow    43     7
3  4/1/2021   Rainy    32     1
4  5/1/2021   Sunny    23     2

In [8]:
df1 = df.assign(City = ['Delhi', 'Bangalore', 'Chennai', 'Patna','Lko']) 
df1

        Day Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [9]:
df1.rename(columns={'Day':'Date'},inplace=True)
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [10]:
df1.Date

0    1/1/2021
1    2/1/2021
2    3/1/2021
3    4/1/2021
4    5/1/2021
Name: Date, dtype: object

In [11]:
df1['Date']

0    1/1/2021
1    2/1/2021
2    3/1/2021
3    4/1/2021
4    5/1/2021
Name: Date, dtype: object

In [12]:
df1[['Date','Temp','City']]

       Date  Temp       City
0  1/1/2021    33      Delhi
1  2/1/2021    34  Bangalore
2  3/1/2021    43    Chennai
3  4/1/2021    32      Patna
4  5/1/2021    23        Lko

In [13]:
df1['Temp'] == df1['Temp'].max()

0    False
1    False
2     True
3    False
4    False
Name: Temp, dtype: bool

In [14]:
print(df1['Temp'].max())

43

In [15]:
df1[['Date','Temp','City']][df1.Temp == df1.Temp.max()]

       Date  Temp     City
2  3/1/2021    43  Chennai

In [16]:
df1

       Date Whether  Temp  Wind       City
0  1/1/2021   Rainy    33     3      Delhi
1  2/1/2021   Sunny    34     5  Bangalore
2  3/1/2021    Snow    43     7    Chennai
3  4/1/2021   Rainy    32     1      Patna
4  5/1/2021   Sunny    23     2        Lko

In [17]:
#df1.index
df1=df1.set_index('Date')
df1

         Whether  Temp  Wind       City
Date
1/1/2021   Rainy    33     3      Delhi
2/1/2021   Sunny    34     5  Bangalore
3/1/2021    Snow    43     7    Chennai
4/1/2021   Rainy    32     1      Patna
5/1/2021   Sunny    23     2        Lko

In [18]:
df1.loc['4/1/2021']

Whether    Rainy
Temp          32
Wind           1
City       Patna
Name: 4/1/2021, dtype: object

In [24]:
df1=df1.reset_index()
df1

   index      Date Whether  Temp  Wind       City
0      0  1/1/2021   Rainy    33     3      Delhi
1      1  2/1/2021   Sunny    34     5  Bangalore
2      2  3/1/2021    Snow    43     7    Chennai
3      3  4/1/2021   Rainy    32     1      Patna
4      4  5/1/2021   Sunny    23     2        Lko

### access columns by name
* df.columnn_name
* df['columnn_name']
* df[['columnn_name1','columnn_name2']]
* type(df['column_name'])
### operations with dataframe
* df['columnn_name'].max()
* df['columnn_name'].mean()
* df['columnn_name'].min()
* df['columnn_name'].std()

In [27]:
df1['Date'].max()

'5/1/2021'

In [28]:
# important
df1.shape

(5, 6)

In [29]:
# important
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   index    5 non-null      int64
 1   Date     5 non-null      object
 2   Whether  5 non-null      object
 3   Temp     5 non-null      int64
 4   Wind     5 non-null      int64
 5   City     5 non-null      object
dtypes: int64(3), object(3)
memory usage: 368.0+ bytes

In [30]:
# important
df1.describe()

          index       Temp      Wind
count  5.000000   5.000000  5.000000
mean   2.000000  33.000000  3.600000
std    1.581139   7.106335  2.408319
min    0.000000  23.000000  1.000000
25%    1.000000  32.000000  2.000000
50%    2.000000  33.000000  3.000000
75%    3.000000  34.000000  5.000000
max    4.000000  43.000000  7.000000

In [31]:
df1

   index      Date Whether  Temp  Wind       City
0      0  1/1/2021   Rainy    33     3      Delhi
1      1  2/1/2021   Sunny    34     5  Bangalore
2      2  3/1/2021    Snow    43     7    Chennai
3      3  4/1/2021   Rainy    32     1      Patna
4      4  5/1/2021   Sunny    23     2        Lko

In [ ]:
# print(df1[df1['Temp'] >=33])
# print()
print(df1[df1['Temp'] == df1.Temp.max()])
print()
print(df1[['Date','Temp']][df1.Temp == df1.Temp.max()])

In [ ]:
df1.isnull()

In [ ]:
# important
df1.isnull().sum()

In [ ]:
df1.notnull()

In [ ]:
df1['Temp'].isnull()

In [ ]:
df1['Temp'].isnull().sum()

# nan values

In [ ]:
#pip install numpy
import numpy as np
a = np.nan
b = np.nan
c = None
d = None

In [ ]:
print(a == b)
print(c==d)

In [ ]:
# Doubt
a = int(input("Enter a:"))
b = int(input("Enter b:"))
if a==b:
    print("values are equal")
    if a is b:
        print("Addresses are also equal")
    else:
        print("'values' are equal but 'Address' are not equal")
else:
    print("Values are not equal")

In [ ]:
import numpy as np
df2=pd.DataFrame({
    'Day':['1/1/2021','2/1/2021','3/1/2021',np.nan,'5/1/2021'],
    'Whether':['Rainy','Sunny','Snow',np.nan,'Sunny'],
    'Temp':[33,np.nan,43,np.nan,23],
    'Wind':[3,np.nan,7,1,2]
})
df2

In [ ]:
df2.info()

In [ ]:
df2.isnull()

In [ ]:
df2.isnull().sum()

In [ ]:
# important
df2['Temp'].unique()

In [ ]:
df3=df2.dropna()
df3

In [ ]:
df2

In [ ]:
df3=df2.dropna(thresh=3)#it will not delete row which contain atleast 1 value
df3

In [ ]:
df3 = df2.fillna({
    'Day':'Not Av',
    'Whether':'Sunny',
    'Temp':0,
    'Wind':0
})
df3

In [ ]:
df2['Day'].unique()

In [ ]:
df3['Day'].unique()

In [ ]:
df2

In [ ]:
df3=df2.fillna(method='bfill')
df3

In [ ]:
df3=df2.fillna(method='ffill')
df3

In [ ]:
df3=df2.fillna(method ='pad')
bdf3

In [ ]:
df2

In [ ]:
df3=df2.interpolate()
df3

In [ ]:
df3=df2.interpolate()
df3

In [ ]:
df2['Temp'].mean()

In [ ]:
df2

In [ ]:
df2['Temp'].fillna(df2['Temp'].mean())

In [ ]:
df2

In [ ]:
df2.Temp=df2['Temp'].fillna(df2['Temp'].mean())
df2

In [ ]:
#handling null values

In [ ]:
# filling a null values using fillna()  for string 
import pandas as pd
import numpy as np
l2 =["Alpha", "Bravo", np.nan, "Tango", "Mike"] 
l3 =[23, 25, 22, 11, 29] 
df4 = pd.DataFrame((list(zip(l2, l3))))
df4

In [ ]:
df4.fillna("Charlie", inplace = True) 
df4

In [ ]:
# save
df4.to_csv('naam',index=False)

In [ ]:
dff=pd.read_csv('naam')

In [ ]:
dff