## 1.	Introduction to SQL

### SQL stands for Structural Query Language, and SQL is used for storing, manipulation, and retrieving data from the database.

## History of SQL :
### The SQL(Structural Query language) was first created in the 1970s by IBM researchers Raymond Boyce and Donald Chamberlin.

## What is Database?

### A database is a well-ordered collection of data. A database is an electronic system that permits data to be easily manipulated, accessed,and updated, or an organization uses a database as a method of managing, storing, and retrieving information. Modern databases are handled using a database management system (DBMS).

## Relational Database

### Relational Databases are used to store data in tables(rows and columns).Some commonrelational database management systems that use SQL are Oracle, Sybase, Microsoft SQL Server, Access, Ingres, etc.

## SQL and Relational Databases .

### A Relational Database contains tables that store the data that is related in some way. SQL is the query language that allows retrieval and manipulation of table data in the relational database

## 3.	SQL QUERY

### A database most often contains tables. Some name identifies each table. The table includes records(rows) with Data. To access those records, we need SQL Syntax. Most of the action you need to perform Database by using the SQL Statement.

### Note: SQL keywords are not case-sensitive (e.g., select as SELECT)
* o	SQL syntax is somewhat like simple English sentences.
* o	Keywords include SELECT, UPDATE, WHERE, ORDER BY ETC.
### Four fundamental operations that can apply to any databases are:
* 1.	Read the Data -- SELECT
* 2.	Insert the new Data -- INSERT
* 3.	Update existing Data -- UPDATE
* 4.	Remove Data â€“DELETE
#### These operations are referred to as the CRUD (Create, Read, Update, Delete).

In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector as connection

In [ ]:
connection.connect(host="localhost",user="root", passwd="amuse0172",use_pure=True)
# we have to put host ,user name and password correctly .

In [ ]:
connection.connect(host="localhosttttt",user="root", passwd="mysql",use_pure=True)

In [ ]:
connection.connect(host="localhost",user="ro000ot", passwd="mysql",use_pure=True)

In [ ]:
connection.connect(host="localhost",user="root", passwd="mysql",use_pure=True)

####  Note : Database never have data but tables contains data .

In [ ]:
conn = connection.connect(host="localhost",user="root", passwd="amuse0172",use_pure=True)
# here we have achieved connection btwen jupyter and MYSQL

In [ ]:
cur = conn.cursor() # pOINTER to iterate

In [ ]:
cur.execute("show databases")

In [ ]:
# Lets check type of above line
#print(cur.execute("show databases"))

#### Now its time to fetch the responce of the query  : . . . .

In [ ]:
cur.fetchall()

In [ ]:
#cur.fetchall()
res = cur.fetchall()
for i in res:
    print(i)

In [ ]:
res[1][0]

In [ ]:
for i in range(len(res)):
    print(f"{i+1}:{res[i][0]} ")

#### Check in MYSQL  also .

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost",user="root", passwd="amuse0172",use_pure=True)
    # check if the connection is established
    
    # First Go to mysql workbench and also type show database
    query = "SHOW DATABASES"
    

    cursor = mydb.cursor() #create a cursor to execute queries 
    # cursor means pointer bcoz in DB every stored thing contains some index
    cursor.execute(query)
    #print(cursor.fetchall())

except Exception as e:
    mydb.close()
    print(str(e))

In [1]:
import mysql.connector as connection

In [2]:
conn = connection.connect(host="localhost", user="root", passwd="amuse0172",use_pure=True)

In [3]:
print(conn.is_connected())

True

In [4]:
cur = conn.cursor()

In [5]:
cur.execute("Create database Prolific_Data_Sci_3;")

In [6]:
cur.execute("show databases")

In [ ]:
cur.fetchall()

In [7]:
res = cur.fetchall()
for i in res:
    print(i)

('db1',)
('information_schema',)
('mysql',)
('performance_schema',)
('prolific_data_sci',)
('prolific_data_sci_2',)
('prolific_data_sci_3',)
('sakila',)
('student',)
('sys',)
('world',)

In [ ]:
cur.fetchall()

In [ ]:
import mysql.connector as connection

try:
    mydb = connection.connect(host="localhost", user="root", passwd="mysql",use_pure=True)
    # check if the connection is established
    print(mydb.is_connected())

    query = "Create database Student;"
    cursor = mydb.cursor() #create a cursor to execute queries
    cursor.execute(query)
    print("Database Created!!")
    mydb.close()
except Exception as e:
    mydb.close()
    print(str(e))